<ul id="leftbar" class="side-nav fixed">
  <li>
    <div class="userView">
      <img id="storeImg" class="conta" src="images/GAP.jpg">
      <a ><img id="ownerImg" class="circle" src="images/profile.jpg"><span id="ownerName" class="ownerInfo">John Doe</span></a>
      <a ><span id="ownerEmail" class="ownerInfo">jdandturk@gmail.com</span></a>
    </div>
  </li>
  <li>
    <ul class="collapsible" data-collapsible="accordion">
      <li class="disabled">
        <div class="collapsible-header"><i class="material-icons">chat</i>Chat</div>
        <div class="collapsible-body">
          <ul class="collapsible" data-collapsible="accordion" id="chatArea">
            // name list filled by jquery
          </ul>
        </div>
      </li>
    </ul>
  </li>

</ul>
