<link rel='stylesheet' href='/stylesheets/partials/leftbar.css' />
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/chat-client.js"></script>
<div id="jqueryVars" style="display:none;">
  <p id="loginVar">{{login}}</p>
  <p id="emailVar">{{useremail}}</p>
</div>

<ul id="leftbar" class="side-nav fixed">
  <li>
    <div class="userView">
      <img id="storeImg" class="conta" src="/images/GAP.jpg">
      <a ><img id="ownerImg" class="circle" src="/images/profile.jpg"><span id="ownerName" class="ownerInfo">John Doe</span></a>
      <a ><span id="ownerEmail" class="ownerInfo">jdandturk@gmail.com</span></a>
    </div>
  </li>
  <li>
    <ul class="collapsible" data-collapsible="accordion">
      <li class="disabled">
        <div class="collapsible-header"><i class="material-icons">chat</i>Chat</div>
        <div class="collapsible-body">
          <ul class="collapsible" data-collapsible="accordion" id="chatArea">
            {{# each friends}}
              <li class="chatBox">
                <div class="friendsEmail" style="display: none;">{{this.email}}</div>
                <div class="collapsible-header chatCollapsible"><i class="material-icons">perm_identity</i>{{this.username}}</div>
                <div class="collapsible-body">
                  <div class="chatContent">
                  </div>
                  <form class="messageForm">
                    <div class="inputField">
                      <input type="text" class="messageInput" placeholder="Input message..."/>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit">
                      Send
                      <i class="material-icons right">send</i>
                    </button>
                  </form>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </li>
    </ul>
  </li>
</ul>
