<link rel='stylesheet' href='/stylesheets/partials/topbar.css' />
<script type="text/javascript" src="/javascripts/partials/topbar.js"></script>
<!-- dropdown -->
<ul id="dropdown1" class="dropdown-content">
  {{# if login}}
    <li><a href="/user/logout">Logout</a></li>
  {{ else}}
    <li>
      <a href="/auth/facebook">Facebook</a>
    </li>
  {{/if}}
</ul>
<!-- /dropdown -->
<!-- color: #37474f grey darken-3 -->
<div class="navbar-fixed">
  <nav id="topbarNav">
    <div id = "topbar" class="nav-wrapper blue-grey darken-2">
      <a id="topbarLogo" href="/" class="brand-logo"><img id="topbarLogoImg" src="/images/logo.png" alt=""></a>
      <a id="statusArea" class="brand-logo center" style="display: none;">
        <span id="shoppingStatus"></span>
        <button class="btn-floating btn waves-effect waves-light blue-grey darken-3" id="disconnectBtn">
          <i class="material-icons" style="line-height: 40px;">stop</i>
        </button>
      </a>
      <ul class="right">
        <li>
          <a href="/purchase/">
            <i class="material-icons" style="color: #ffffff;">store</i>
          </a>
        </li>
        <li>
          <a href="/order/cart">
            <i class="material-icons" style="color: #ffffff;">shopping_cart</i>
          </a>
        </li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="dropdown1">
            <i class="material-icons" style="color: #ffffff;">account_box arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
