<link rel='stylesheet' href='/stylesheets/partials/topbar.css' />
<script type="text/javascript" src="/javascripts/partials/topbar.js"></script>
<!-- dropdown -->
<ul id="dropdown1" class="dropdown-content">
  {{# if login}}
    <li><a href="/user/logout">Logout</a></li>
  {{ else}}
    <li>
      <a href="/auth/facebook">Facebook</a>
    </li>
  {{/if}}
</ul>
<!-- /dropdown -->
<div class="navbar-fixed">
  <nav id="topbarNav">
    <div id = "topbar" class="nav-wrapper blue-grey">
      <a href="/" class="brand-logo"><img id="topbarLogo" src="/images/logo.png" alt=""></a>
      <ul class="right">
        <li>
          <a href="/purchase/">
            <i class="material-icons" style="color: #37474f;">store</i>
          </a>
        </li>
        <li>
          <a href="/order/cart">
            <i class="material-icons" style="color: #37474f;">shopping_cart</i>
          </a>
        </li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="dropdown1">
            <i class="material-icons" style="color: #37474f;">account_box arrow_drop_down</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
