<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/layout.css' />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/images/favicon.png">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript" src="/javascripts/friends-logic/chat.js"></script>
  </head>
  <body>
    {{> topbar}}
    {{> leftbar}}
    <div class="row">
      <main>
        {{{body}}}
      </main>
      <!-- <div class="col s3 red" id="sidebar">
      </div>
      <div class="col s9 blue">
      </div> -->
    </div>
    <!-- <div id="mainArea">
      <div id="mainAreaBody">
      </div>
    </div> -->
  </body>
</html>
