<div class="row" style="margin-top: 5%;">
  <hr>
  <div class="col s3" style="margin-top: inherit;">
    <div class="row">
      <img class="circle" src="{{fb_user.profilePic}}" alt="head photo">
    </div>
  </div>
  <div class="col s9" style="margin-top: inherit;">
    <div class="row">
      <h4>{{fb_user.name}}</h4>
    </div>
  </div>
</div>
