<form action="/user/signin" method="post" class = "signForm">
  <h1>Sign in</h1>
  {{#if hasErrors}}
    {{#each messages}}
      <p class="errorMsg">{{this}}</p>
    {{/each}}
  {{/if}}
  <div class = "input-field">
    <input id="iemail" name="email" type="text"/>
    <label>電子郵件(亦為登入帳號)</label>
  </div>
  <div class = "input-field">
    <input id="ipassword" name="password" type="password"/>
    <label>密碼</label>
  </div>
  <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
  <button id="submit" name="isubmit" class="btn waves-effect waves-light signupBtn" type="submit">儲存
    <i class="material-icons right">done</i>
  </button>
</form>
<button class="btn waves-effect waves-light signupBtn" type="submit" onclick="window.location = '/';">取消
  <i class="material-icons right">cancel</i>
</button>
