body {
  font-family: 'PT Sans', sans-serif;
}

#topbar{
  padding-left: 20px;
  z-index: 1;
}

#leftbar {
  /*width: 20%;*/
  overflow-y: scroll !important;
  display: block !important;
  /*padding: 0 !important;*/
  /*margin-top: 3%;*/
  z-index: 0;
  /*background-color: transparent !important;*/
}

main {
  padding-left: 300px;
  margin: 3%;
  /*height: 100%;
  overflow: scroll;*/
}

.MouseDiv{
  top: 399px;
  left: 400px;
  position: fixed;
  z-index: 30;
  height: 50px;
  display: none;
  transition: all 0.1s linear;
}

.MouseDiv img{
  height: inherit;
}
