
<link rel='stylesheet' href='/stylesheets/load/loading.css' >
<script type="text/javascript" src="/javascripts/load/loading.js"></script>

<div class="row valign-wrapper">
  <div class="col s6 offset-s4 ">
    <h3>Go to floor {{level}}</h3>
  </div>
</div>
<div class="row valign-wrapper">
  <div class="col s12 ">
    <div class="progress">
          <div class="indeterminate"></div>
    </div>

  </div>
</div>
<div class="row ">
  <div class="col s9 offset-s3 ">
    <div class="imagecard">
      <img class=" highlight" src="/images/stores/converse-1.jpg">
    </div>
    <div class="imagecard">
      <img class=" highlight" src="/images/stores/converse-2.jpg">
    </div>
  </div>
  <div class="col s9 offset-s3 ">
    <div class="imagecard">
      <img class=" highlight" src="/images/stores/jordan-1.jpg">
    </div>
    <div class="imagecard">
      <img class=" highlight" src="/images/stores/jordan-2.jpg">
    </div>
  </div>
</div>
