
<!--link rel='stylesheet' href='/stylesheets/index.css' /-->
<script type="text/javascript" src="/javascripts/load/loading.js"></script>
<h3>Go to floor {{level}}</h3>
<div class="progress">
      <div class="indeterminate"></div>
</div>
<input type="hidden" id = "thislevel" value="{{level}}"></input>
<input type="hidden" id = "thistype" value="{{type}}"></input>
