.card-image {
  background-image: url('/images/GAP.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  /*background-color: black;*/
  background-position: center;
}

/*#counter {
  background-color:
}*/
